body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

#main {
  transition: margin-right 0.5s;
  padding: 40px;
}

/*****************
 * Easy use *
 *****************/

.card {
  position: relative;
  background: #fff;
  margin-bottom: 30px;
  border-radius: 2px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.full-screen {
  min-height: 700px !important;
  height: calc(100vh - 100px);
}

.text-center {
  text-align: center;
}

.h-100 {
  height: 100%;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.padding-40 {
  padding: 40px !important;
}

/******************
 * Top Navigation *
 ******************/

.topnav {
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 9999;
  transition: 0.5s;
}

.header-buttons .btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.btn.fourth {
  border-color: #f1c40f;
  color: #fff;
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 0%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}

.btn.fourth:hover {
  background-position: 100%;
  color: #f1c40f;
}

.header-buttons .btn.fourth.m-0 {
  margin: 0;
}

@media (max-width: 930px) {
  .header-buttons a.fourth {
    display: none;
  }
}

/**************
 * First Page *
 **************/

#firstPage.full-screen {
  margin-bottom: 0;
  min-height: 570px !important;
  margin-left: -40px;
  margin-right: -40px;
}

#firstPage .firstPage-container {
  width: 100%;
  height: 100%;
  position: relative;
}

#firstPage .firstPage-container>ul,
#firstPage .firstPage-container li.slide-grid {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#firstPage .firstPage-bg-1 {
  width: 100%;
  height: 100%;
  background: url(../images/firstPage.jpg) no-repeat center;
  background-size: cover;
  background-position: 50%;
  overflow: hidden;
}

#firstPage .firstPage-bg-2 {
  width: 100%;
  height: 100%;
  background: url(../images/header-photo-products.jpg) no-repeat center;
  background-size: cover;
  background-position: 50%;
  overflow: hidden;
}

#firstPage .firstPage-bg-3 {
  width: 100%;
  height: 100%;
  background: url(../images/Image_4.png) no-repeat center;
  background-size: cover;
  background-position: 50%;
  overflow: hidden;
}

#firstPage .firstPage-bg-4 {
  width: 100%;
  height: 100%;
  background: url(../images/firstPage4.jpg) no-repeat center;
  background-size: cover;
  background-position: 50%;
  overflow: hidden;
}

#buttons {
  width: 100%;
  margin: -20px auto;
  display: block;
  position: absolute;
  top: 50%;
}

#next {
  float: right;
  padding: 25px 20px;
  color: #fff;
  outline: none;
  font-size: 40px;
  cursor: pointer;
}

#prev {
  padding: 25px 20px;
  color: #fff;
  outline: none;
  font-size: 40px;
  cursor: pointer;
}

.center-element__element {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 100%;
  padding: 0 20px;
}

.slider__slide__content {
  width: 100%;
  color: #fff;
}

.center-align {
  text-align: center;
}

.slider__slide__content h6 {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .5em;
  text-transform: uppercase;
}

.slider__slide__content h1 {
  font-size: 60px;
  line-height: 70px;
  letter-spacing: .17em;
}

.slider__slide__button {
  width: 142px;
  height: 34px;
  position: absolute;
  bottom: 65px;
  left: 50%;
  margin-left: -80px;
  pointer-events: none;
}

a.btn__detail {
  color: #fff;
  line-height: 40px;
  pointer-events: all;
}

a.btn__detail .btn__text {
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: .2em;
}

a.btn__detail:hover {
  text-decoration: none;
  color: #fff;
  transform: scale(1.1);
}

.slider__slide__button.tall-line:before {
  transform: translateY(30px);
  opacity: 1;
  visibility: visible;
  height: 135px;
  content: "";
  width: 1px;
  position: absolute;
  top: -170px;
  left: 50%;
  background: #fff;
  pointer-events: none;
}

.btn__detail {
  transition: all .15s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 157.5px;
  height: 42.5px;
  z-index: 1;
}

.btn__detail .button-1 {
  top: 3px;
  left: 0;
}

.btn__detail .button-2 {
  top: 0;
  left: 3px;
}

.btn__detail .vivus {
  position: absolute;
  fill: transparent;
  stroke-width: 1;
  stroke: #fff;
}

svg:not(:root) {
  overflow: hidden;
}

/* slide css */

.slide-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}

.slide-grid {
  width: 100%;
  z-index: 0;
  background: #fff;
  float: left;
  overflow-y: auto;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  -moz-transition: -moz-transform 0.8s ease-in-out;
  -ms-transition: -ms-transform 0.8s ease-in-out;
  -o-transition: -o-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  position: relative;
}

.slide-grid.slide-opened {
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  -webkit-transition-property: transform;
  -webkit-transition-duration: 0.8s;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-delay: initial;
  -moz-transition: -moz-transform 0.8s ease-in-out;
  -ms-transition: -ms-transform 0.8s ease-in-out;
  -o-transition: -o-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  transition-property: transform;
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
  -webkit-transform: translate3d(0%, 0, 0);
  -moz-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0, 0, 0);
  position: relative;
}

.slide-grid.slide-childopened {
  -webkit-transform: translate3d(-20%, 0, 0);
  -moz-transform: translate3d(-20%, 0, 0);
  -ms-transform: translate3d(-20%, 0, 0);
  -o-transform: translate3d(-20%, 0, 0);
  transform: translate3d(-20%, 0, 0);
  position: absolute;
}

.slide-grid.slide-closed {
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  -webkit-transition-property: transform;
  -webkit-transition-duration: 0.8s;
  -webkit-transition-timing-function: ease-in-out;
  -webkit-transition-delay: initial;
  -moz-transition: -moz-transform 0.8s ease-in-out;
  -ms-transition: -ms-transform 0.8s ease-in-out;
  -o-transition: -o-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
  transition-property: transform;
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  position: absolute;
}

/***************
 * Second Page *
 ***************/

#secondPage {
  padding-top: 80px;
}

#secondPage .secondPage-container {
  background: url(../images/secondPage.jpg) center;
  background-size: cover;
  background-position: 50%;
  position: relative;
}

#secondPage .secondPage-header {
  position: absolute;
  top: -38px;
  transform: translate(-50%, -50%);
  left: 50%;
}

#secondPage .secondPage-content {
  padding-left: 9%;
}

#secondPage .secondPage-span {
  position: relative;
  width: 250px;
  text-align: center;
  margin: 10px auto;
}

#secondPage .secondPage-span-en {
  position: relative;
  width: 320px;
  text-align: center;
  margin: 10px auto;
}

.secondPage-span .secondPage-top-border,
.secondPage-span-en .secondPage-top-border {
  position: absolute;
  height: 2px;
  width: 55px;
  background-color: #333;
  transition: width 1s ease;
  top: 10px;
}

#secondPage .box {
  min-height: 355px;
  padding: 40px 36px;
  margin-bottom: 20px;
  margin-top: 20px;
  background: #fff;
  font-size: 13px;
  border: 1px solid rgba(236, 236, 236, 1);
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
}

.box .box-image {
  display: flex;
  justify-content: center;
}

#secondPage .secondPage-footer {
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 50%;
}

.about-illustration-box {
  position: relative;
  margin: auto;
  display: block;
  width: 250px;
  height: 200px;
  background: none;
  visibility: hidden;
}

.about-illustration-box-anim-in {
  animation: 2s aboutIllustrationSlide;
  animation: 2s aboutIllustrationSlide;
  visibility: visible;
}

@-webkit-keyframes aboutIllustrationSlide {
  0% {
    opacity: 0;
    transform: translateY(70%) scale(.6);
  }
  100% {
    opacity: 1;
    transform: translateY(0%) scale(1);
  }
}

@keyframes aboutIllustrationSlide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.about-illustration-box-anim-out {
  animation: 2s forwards aboutIllustrationFadeOut;
  animation: 2s forwards aboutIllustrationFadeOut;
  visibility: visible;
}

@-webkit-keyframes aboutIllustrationFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes aboutIllustrationFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/**************
 * Third Page *
 **************/

.container-fluid--wider {
  max-width: 1240px;
}

.container-fluid {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

#thirdPage .thirdPage-container {
  background-image: url(../images/bg-01.jpg);
  height: 100%;
  width: 100%;
  text-align: center;
  background-size: cover;
  background-position: 50%;
  margin-top: 40px;
  margin-bottom: 40px;
}

#thirdPage .discription__wrap {
  height: 100%;
  width: 100%;
  max-width: 870px;
  margin: 0 auto;
  background: #fff;
}

#thirdPage .discription__wrap__inner {
  height: 100%;
  padding: 30px 100px;
}

#thirdPage .discription__wrap__header {
  padding: 30px 0;
  position: relative;
  margin: 18px 0 60px;
}

.discription__wrap__header:before {
  top: 0;
}

.discription__wrap__header:after {
  bottom: 0;
}

.discription__wrap__header:after,
.discription__wrap__header:before {
  content: "";
  height: 1px;
  width: 180px;
  background: #000;
  position: absolute;
  left: 50%;
  margin-left: -100px;
}

h1.entry-title {
  font-size: 40px;
  line-height: 54px;
  letter-spacing: .2em;
  transform: scale(0.6);
  transition: all .5s ease;
}

.discription__wrap__inner .entry-content {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}

.entry-content p {
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: .025em;
  transform: scale(0.6);
  transition: all .5s ease;
}

.desc-anim-out {
  transform: scale(0.6) !important;
}

.desc-anim-in {
  transform: scale(1) !important;
}

/***************
 * Fourth Page *
 ***************/

#fourthPage .fourthPage-container {
  position: relative;
  height: 450px;
  min-height: 600px !important;
  width: 100%;
  margin-top: 70px;
  background-color: #FFF;
}

#fourthPage .separator {
  margin-top: 10px;
  border-bottom: 1px solid #C3C3C3;
}

#fourthPage .thumbnail {
  float: left;
  position: relative;
  left: 30px;
  top: 0px;
  height: 320px;
  width: 530px;
  background-color: #353B3F;
  border: none;
  -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  border-radius: 4px;
  transition: top .5s ease;
}

.fourthPage-animation-in {
  top: -40px !important;
}

.fourthPage-animation-out {
  top: 0px;
}

.fourthPage-right {
  margin-left: 590px;
  margin-right: 20px;
}

.fourthPage-right p {
  line-height: 24px;
  letter-spacing: .025em;
  padding: 10px;
  display: block;
  transition: all .5s ease;
}

@media (max-width: 945px) {
  .fourthPage-right {
    display: none;
  }
}

.fourthPage-container dl dt {
  width: 110px;
  height: 110px;
  border: 2px solid #0D6FB8;
  border-radius: 55px;
  margin: auto;
  margin-bottom: 20px;
  transition: all .3s;
}

.fourthPage-container dl dd {
  text-align: center;
  transition: all .5s;
  transform: scale(1);
}

.fourthPage-container dl dd:last-child {
  text-align: center;
  transition: all .5s;
  transform: scale(0);
}

.fourthPage-container dl dt i {
  position: relative;
  font-size: 60px;
  color: #0D6FB8;
  transition: all .2s;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%
}

.fourthPage-container .download-container:hover dt i {
  color: #fff;
}

.fourthPage-container .download-container:hover dt {
  background-color: #0D6FB8;
}

.fourthPage-container .download-container:hover dd:not(:last-child) {
  transform: scale(0);
}

.fourthPage-container .download-container:hover dd:last-child {
  transform: scale(1);
}

.fourthPage-container a.btn.fourth {
  border-color: #0D6FB8;
  background-image: linear-gradient(45deg, #0D6FB8 50%, transparent 50%);
}

.fourthPage-container a.btn.fourth:hover {
  color: #0D6FB8;
}

.download-container {
  transition: all .5s ease;
  transform: scale(0);
}

.fourthPage-dl-animation-in {
  transform: scale(1);
}

.fourthPage-dl-animation-out {
  transform: scale(0);
}

/**************
 * Fifth Page *
 **************/

#fifthPage {
  margin-top: 30px;
  margin-bottom: 60px;
}

#fifthPage .side-by-side__block.view-range__range.view-range__range {
  background: url(../images/fifthPage.jpg) no-repeat center;
  background-size: cover;
  background-position: 50%;
  visibility: visible;
  -webkit-transform: translateY(0) scale(1);
  opacity: 1;
  -webkit-transition: -webkit-transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s;
  transition: transform 0.5s ease-in-out 0s, opacity 0.5s ease-in-out 0s;
  transform: translateY(0) scale(1);
}

.center-element {
  width: 100%;
  height: 100%;
  position: relative;
}

.center-element--full-width .center-element__element {
  z-index: 100;
  width: 100%;
  padding: 0 20px;
  height: 85%;
}

.view-range__range__details {
  position: relative;
  z-index: 100;
}

.center-element__element {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.revealed .view-range__range__bg {
  background: rgba(0, 0, 0, .5);
}

.view-range__range__bg {
  position: absolute;
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  z-index: 50;
  background: none;
}

.view-range__range {
  height: 600px;
  background-size: cover;
  background-position: 50%;
  text-align: center;
  color: #fff;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

#fifthPage .fifthPage-artical {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 30px 50px;
}

#autonews1>li,
#autonews2>li {
  height: 15%;
}

#fifthPage .fifthPage-artical time {
  line-height: 35px;
}

.view-range__range__bg .in-view .page-border-top-left,
.view-range__range__bg .in-view .page-border-top-right {
  position: absolute;
  top: 0;
  height: 2px;
  width: 0px;
  background-color: #fff;
  transition: all 3s linear;
}

.view-range__range__bg .in-view .page-border-top-right,
.view-range__range__bg .in-view .page-border-right {
  right: 0;
}

.view-range__range__bg .in-view .page-border-top-left,
.view-range__range__bg .in-view .page-border-left {
  left: 0;
}

.view-range__range__bg .in-view .page-border-left,
.view-range__range__bg .in-view .page-border-right {
  position: absolute;
  bottom: 0;
  width: 2px;
  height: 0px;
  background-color: #fff;
  transition: all 3s linear;
}

.view-range__range__bg .in-view .page-border-bottom-left {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2px;
  width: 0px;
  background-color: #fff;
  transition: all 3s linear;
}

.view-range__range__bg .in-view .page-border-bottom-right {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0px;
  background-color: #fff;
  transition: all 3s linear;
}

.fifthPage-half-animation-in {
  width: calc(50% - 0px) !important;
}

.fifthPage-half-animation-out {
  width: 0px;
}

.fifthPage-full-animation-in {
  height: calc(100% - 0px) !important;
}

/**************
 * Sixth Page *
 **************/

#sixthPage {
  margin: 40px;
}

#sixthPage .sixthPage-container {
  height: calc(100% - 80px);
  width: 100%;
  position: relative;
}

#sixthPage .contact-page-link__background {
  background-image: url(../images/contact_us.png);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: 50%;
  opacity: .88;
}

.contact-us-content {
  display: flex;
  justify-content: flex-end;
}

.contact-us {
  position: relative;
  width: 700px;
  max-width: 50%;
  border: none;
  border: 2px solid #333;
  border-top: none;
  text-align: center;
  margin: 70px 50px 70px 40px;
  transition: all 1s ease;
}

.contact-us h1 {
  position: relative;
  margin-top: -14px;
  display: inline-block;
  letter-spacing: 4px;
  font-size: 30px;
}

.top-border {
  position: absolute;
  height: 2px;
  width: 0%;
  background-color: #333;
  transition: width 1s ease;
}

.right-border {
  right: 0;
}

.left-border {
  left: 0;
}

@media (max-width: 1100px) {
  .contact-us-anim-in {
    width: 10% !important;
  }
}

@media (max-width: 1000px) {
  .contact-us-anim-in {
    width: 15% !important;
  }
}

.contact-us p {
  width: 61%;
  margin: 20px auto 40px auto;
  line-height: 20px;
  font-size: 15px;
  font-weight: 600;
}

.contact-us a {
  outline: 0;
  display: inline-block;
  padding: 20px;
  margin-bottom: 40px;
  width: 440px;
  max-width: 80%;
  background-color: #333;
  color: #fff;
  font-size: 20px;
  letter-spacing: 3px;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}

.contact-us a:hover {
  background-color: #1D222D;
}

.contact-us a:link,
.contact-us a:visited,
.contact-us a:link:hover,
.contact-us a:visited:hover {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 800px) {
  .top-border {
    display: none;
  }
  .contact-us {
    border-top: 2px solid #333;
  }
  .contact-us h1 {
    margin: 20px 6px;
  }
}

.contact-us-anim-in {
  width: 25%;
}

.contact-us-anim-out {
  width: 0%;
}

#footer.site-footer {
  text-align: center;
  padding-top: 40px;
}